.toolbar-list span {
	background-position: 0 0;
	
}

#toolbar-box .pagetitle {
	width:auto;
}

.icon-48-users {
      background-image: url(../img/L_users.png);
      padding-left:60px!important;
}

.icon-48-user {
      background-image: url(../img/L_users.png);
      padding-left:60px!important;
}

a.modal {
	position: relative;
	top: auto;
	left: auto;
	margin: 0;
	width: auto;
	box-shadow:none;
	-webkit-box-shadow:none;
	background-color:inherit;
}

#menu a {
	width:auto;
}

.adminlist .order input {
	width:auto;
}

body .icon-wrapper {
	float:left;
	clear:left;
	width:auto;
	height:auto;
	background:none;
}

.container { width: auto; }

body a.btn { color: #333; }
body a[class*='btn-'] { color: #fff; }

.adminform legend {width:auto; border: none;}